В файле test_3 лежит результат теста рассылки email, целевая метрика - конверсия в переход на сайт с этого email. 

Изучите результаты теста и сделайте вывод , увеличилась конверсия или нет. В качестве решения - ноутбук, в котором построено распределение параметра в группах и проверены нужные критерии.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [3]:
df = pd.read_csv("test_3.csv")

In [4]:
df

         group  client_id  click_flg
0         test          1          1
1         test          2          0
2         test          3          0
3         test          4          1
4         test          5          1
...        ...        ...        ...
20028  control      20029          0
20029  control      20030          1
20030  control      20031          1
20031  control      20032          0
20032  control      20033          0

[20033 rows x 3 columns]

Составим таблицу сопряженности

In [11]:
table = pd.crosstab(
    df['group'],
    df['click_flg'],
    margins = True
)
table1 = pd.crosstab(
    df['group'],
    df['click_flg']
)
table

click_flg      0     1    All
group
control     6883  3127  10010
test        7061  2962  10023
All        13944  6089  20033

In [12]:
stats.chi2_contingency(table1)
# Статистика теста, p_value, Степени свободы, Ожидаемые частоты, основанные на предельных суммах таблицы.

(6.65548520025077,
 0.009885105063293764,
 1,
 array([[6967.47566515, 3042.52433485],
        [6976.52433485, 3046.47566515]]))

p_value<a => Гипотезу об отсутствии стат. значимости отвергаем.
Найдем сумму кликов и конверсию для каждой группы.

In [5]:
df.groupby('group').sum()['click_flg']

group
control    3127
test       2962
Name: click_flg, dtype: int64

In [15]:
df.groupby('group').sum()['click_flg']/df.groupby('group').count()['click_flg']

group
control    0.312388
test       0.295520
Name: click_flg, dtype: float64

Как видно, конверсия на тестовых данных уменьшилась до 29%.