В файле test_2 лежит результат теста, который был нацелен на увеличение суммы чека клиента. 

Изучите результаты теста и сделайте вывод, увеличилась сумма чека или нет. В качестве решения - ноутбук, в котором построено распределение параметра в группах и проверены нужные критерии.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [7]:
df = pd.read_csv("test_2.csv")

In [8]:
df

       group  client_id     avg_sum
0       test          1  156.686451
1       test          2  342.625859
2       test          3   79.712120
3       test          4  493.110807
4       test          5  124.135016
..       ...        ...         ...
595  control        596  209.075972
596  control        597   57.990291
597  control        598   42.577037
598  control        599  178.320097
599  control        600   78.746824

[600 rows x 3 columns]

In [10]:
groups = df['group'].unique()
for group in groups:
    W_value, p_value = stats.shapiro(df[df['group']==group]['avg_sum'])
    if p_value > 0.01:
        print('Normal','W=',round(W_value,4),'p-value',round(p_value,4))
    else:
        print('Not normal','W=',round(W_value,4),'p-value',round(p_value,4))

Not normal W= 0.8082 p-value 0.0
Not normal W= 0.8395 p-value 0.0

Как видно, наши данные не имеют нормального распределения.
Так как у нас нет нормального распределения, то для выявления статистической значимости возьмем критерий Манна-Уитни.
Он выявляет статистическую значимость различия медиан

In [11]:
a, b = df[df['group']=='test']['avg_sum'], df[df['group']=='control']['avg_sum']

In [12]:
stat, p_val = stats.mannwhitneyu(a,b,alternative = 'two-sided')
if p_val > 0.05:
    print('Статистически значимой разницы нет','\np-value',round(p_val,4),'\nU-критерий',stat)
else:
    print('Разница статистически значима','\np-value',round(p_val,4),'\nU-критерий',stat)

Разница статистически значима
p-value 0.005
U-критерий 50943.0

In [15]:
for group in groups:
    print("Медиана для",group,"=",df[df['group']==group]['avg_sum'].median())

Медиана для test = 132.65585525843812
Медиана для control = 104.72763550398426

Изменение значения медианы статистически значимо. Для тестовой выборки значение медианы увеличилось.